@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$roboto-font: "Roboto", sans-serif;
$dark-grey: #18191a;
$normal-grey: #242527;
$light-grey: #3a3b3c;
$white-80: #e4e6eb;
$light-blue: #0084ff;

.story-details-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: $dark-grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    &__left {
        width: 35%;
        height: 100%;
        background-color: $dark-grey;
    }

    &__center {
        width: 30%;
        height: 100%;
        background-color: $dark-grey;
        display: flex;
        justify-content: center;
        align-items: center;

        &__player-container {
            background-color: $light-grey;
            width: 84%;
            height: 90%;
            display: flex;
            background: #8a2387; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
                to right,
                #f27121,
                #e94057,
                #8a2387
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 8px;

            &__progress-bar {
                position: absolute;
                top: 5%;
                width: 23.5%;
                height: 30px;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                gap: 4px;

                &__duration-bar {
                    flex-grow: 1;
                    flex-basis: 0 1 0px;
                    height: 4px;
                    background-color: rgba(255, 255, 255, 0.4);
                    display: flex;
                    border-radius: 4px;
                    justify-content: flex-start;
                    align-items: flex-start;

                    &__current-time-bar {
                        height: 100%;
                        border-radius: 2px;
                        background-color: white;
                    }
                }
            }

            &__controls {
                position: absolute;
                top: 9%;
                width: 23.5%;
                height: 30px;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                align-items: center;
                z-index: 20;

                &__btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 100%;
                    color: white;
                    font-size: 1.1em;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            &__player {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                box-shadow: none;
                border: none;
                outline: none;
            }

            &__reply-section {
                position: absolute;
                top: 88%;
                width: 25%;
                height: 45px;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;

                & > input {
                    background-color: rgba(0, 0, 0, 0);
                    border: 1px solid $white-80;
                    outline: none;
                    box-shadow: none;
                    height: 95%;
                    width: 85%;
                    padding-left: 15px;
                    border-radius: 20px;
                    box-sizing: border-box;
                    color: $white-80;
                    margin-left: 10px;
                    font-size: 1em;

                    &::placeholder {
                        color: $white-80;
                        font-size: 1em;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    &__right {
        width: 35%;
        height: 100%;
    }
}
