@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

$roboto-font: "Roboto", sans-serif;
$noto-font: "Noto Sans", sans-serif;
$dark-grey: #18191a;
$normal-grey: #242527;
$light-grey: #3a3b3c;
$white-80: #e4e6eb;
$light-blue: #0084ff;

.watch-page {
    &__main-content {
        &__video-container {
            &:nth-child(1) {
                margin-top: 25px;
            }
            position: relative;
            width: 70%;
            height: 625px;
            background-color: $normal-grey;
            margin-bottom: 20px;
            border-radius: 8px;
            border-top: 5px solid $normal-grey;
            box-sizing: border-box;
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: flex-start;

            @media screen and (max-width: 900px) {
                width: 100%;
            }

            &__header {
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-flow: row wrap;
                overflow: hidden;
                border-radius: 8px 8px 0px 0px;

                &__avatar {
                    width: 10%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(110%);
                    }

                    & > div {
                        width: 59%;
                        height: 79%;
                        border-radius: 50%;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                &__user-date {
                    width: 85%;
                    height: 75%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-flow: column wrap;

                    &__user {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        & > p {
                            font-size: 1em;
                            color: #eaeeed;
                            font-family: $roboto-font;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    &__date {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        & > p {
                            font-family: $roboto-font;
                            font-size: 0.75em;
                            color: rgba(255, 255, 255, 0.7);
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                &__option {
                    width: 5%;
                    height: 100%;
                }
            }

            &__body {
                width: 100%;
                height: 82%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-flow: column wrap;

                &__title {
                    width: 100%;
                    height: 9%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    & > p {
                        font-family: $noto-font;
                        color: #e0e8f3;
                        font-weight: bold;
                        font-size: 1em;
                        padding-left: 20px;
                    }
                }

                &__video {
                    width: 100%;
                    height: 91%;
                    background-color: black;

                    &__video-player {
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &__footer {
                width: 100%;
                height: 8%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                overflow: hidden;
                border-radius: 0px 0px 8px 8px;

                &__options {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;

                    &__option {
                        height: 70%;
                        border-radius: 5px;
                        color: rgba(255, 255, 255, 0.7);
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        gap: 5px;
                        margin-right: 5px;
                        cursor: pointer;

                        &:nth-child(1) {
                            margin-left: 10px;
                        }

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.1);
                        }

                        & > i {
                            font-size: 1.25em;
                            margin-left: 5px;
                        }

                        & > p {
                            font-family: $roboto-font;
                            font-size: 0.8em;
                            margin-right: 5px;
                        }
                    }
                }

                &__reactions {
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    flex-flow: row wrap;
                    align-items: center;

                    &__icons {
                        width: 85%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        & > div {
                            width: 1.3em;
                            height: 1.3em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid $normal-grey;
                            border-radius: 50%;
                            background-color: $normal-grey;
                            box-sizing: border-box;
                            cursor: pointer;
                            transition: transform 0.1s ease;

                            & > img {
                                width: 100%;
                                height: 100%;

                                &:nth-child(1) {
                                    z-index: 3;
                                }

                                &:nth-child(2) {
                                    z-index: 2;
                                }

                                &:nth-child(3) {
                                    z-index: 1;
                                }
                            }

                            &:nth-child(1) {
                                z-index: 3;
                                margin-left: 1px;
                            }

                            &:nth-child(2) {
                                z-index: 2;
                                margin-left: -3px;
                            }

                            &:nth-child(3) {
                                z-index: 1;
                                margin-left: -3px;
                            }
                        }
                    }

                    &__total {
                        width: 15%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        & > p {
                            font-family: $roboto-font;
                            color: rgba(255, 255, 255, 0.7);
                            font-size: 0.7em;
                            padding-left: 1px;
                            padding-right: 3px;
                            text-transform: uppercase;
                        }
                    }
                }

                &__comments {
                    width: 10%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &__reaction-modal {
                position: absolute;
                background-color: $normal-grey;
                min-width: 33%;
                height: 50px;
                bottom: 7.5%;
                left: -1%;
                border-radius: 35px;
                -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.3);
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                transition: transform 0.3s ease, opacity 0.1s;

                &__reaction {
                    position: relative;
                    height: 100%;
                    flex-basis: 0 1 0px;
                    flex-grow: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:nth-child(1) {
                        margin-left: 8px;
                        margin-right: 5px;
                    }

                    &:nth-child(2) {
                        margin-right: 2px;
                    }

                    &:nth-child(6) {
                        margin-right: 7px;
                    }

                    & > img {
                        width: 44px;
                        height: 44px;
                        transition: transform 0.2s ease;
                        border-radius: 50%;

                        &:hover {
                            transform: translateY(-5px) scale(1.15);
                            cursor: pointer;
                        }
                    }

                    &:nth-child(1) > img,
                    &:nth-child(2) > img {
                        width: 39px;
                        height: 39px;
                    }
                }

                @keyframes scale {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(1.05);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}
