@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$roboto-font: "Roboto", sans-serif;
$normal-grey: #242527;
$light-grey: #3a3b3c;
$white-80: #e4e6eb;
$light-blue: #2888fe;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background: $normal-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    box-sizing: border-box;
    z-index: 20;

    &__search-section {
        width: 26.5%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        @media screen and (max-width: 900px) {
            display: none;
        }

        &__search-bar-container {
            width: 80%;
            min-height: 100%;
            border: none;
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: $normal-grey;
            transition: box-shadow 0.1s ease;
            border-radius: 0px 0px 10px 0px;

            &__search-bar {
                border-radius: 20px;
                height: 10px;
                border: none;
                padding: 15px;
                display: flex;
                margin-top: 10px;
                margin-left: 7.5px;
                justify-content: flex-start;
                align-items: center;
                background-color: $light-grey;
                color: $white-80;
                transition: width 0.1s ease;

                & > i {
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 1.2em;
                    transition: all 0.1s ease;
                }

                & > form {
                    width: 90%;
                }

                & > form > input {
                    border-radius: 20px;
                    height: 100%;
                    width: 100%;
                    border: none;
                    background-color: $light-grey;
                    color: $white-80;
                    transition: all 0.1s ease;
                    font-weight: 300;
                    font-family: $roboto-font;
                    font-size: 0.95em;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    padding-right: 10px;

                    &::placeholder {
                        font-size: 1em;
                        font-weight: 300;
                        color: rgba(255, 255, 255, 0.6);
                        font-family: $roboto-font;
                    }

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }
            }

            &__recent-search {
                background-color: $normal-grey;
                width: 95%;
                height: 50px;
                margin-top: 5px;
                margin-bottom: 5px;
                margin-left: 2.5%;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.1s ease;

                &:hover,
                &:focus {
                    filter: brightness(115%);
                }
            }
        }
    }

    &__center-menu {
        width: 47%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @media screen and(max-width:900px) {
            width: 90%;
        }

        &__option {
            height: 100%;
            width: 16%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.025s ease;

            @media screen and(max-width:900px) {
                flex: 0 1 20%;
            }

            & > i {
                font-size: 1.35em;
            }

            &--selected {
                border-bottom: 3.25px solid $light-blue;
                box-sizing: border-box;
            }

            &--selected > i {
                color: $light-blue;
            }

            &--not-selected {
                height: 82%;
                border-radius: 8px;

                & > i {
                    color: rgba(255, 255, 255, 0.6);
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }

    &__user-panel {
        width: 26.5%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        @media screen and(max-width:900px) {
            width: 30%;
        }

        &__user-btn-container {
            width: 40%;
            height: 100%;
        }

        &__utilities-container {
            width: 60%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center;

            @media screen and(max-width:900px) {
                display: none;
            }

            &__utility {
                width: 16%;
                height: 62%;
                border-radius: 50%;
                margin-left: 1.1%;
                margin-right: 1.1%;
                background-color: $light-grey;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:nth-child(4) {
                    margin-right: 5%;
                }

                & > i {
                    color: $white-80;
                    font-size: 1.2em;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
}
