@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

$roboto-font: "Roboto", sans-serif;
$noto-font: "Noto Sans", sans-serif;
$dark-grey: #18191a;
$normal-grey: #242526;
$light-grey: #3a3b3c;
$white-80: #e4e6eb;
$light-blue: #0084ff;

.watch-page {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: $dark-grey;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &__shows-modal {
        position: fixed;
        z-index: 10;
        top: 0%;
        left: 0%;
        width: 28%;
        height: 56%;
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        flex-flow: column wrap;

        &__box {
            width: 100%;
            height: 95.5%;
            display: flex;
            background-color: $normal-grey;
            flex-flow: column wrap;
            overflow: hidden;
            border: 1px solid rgba(255, 255, 255, 0.05);
            -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.5);
            box-sizing: border-box;
            border-radius: 6px;

            &__trailer {
                width: 100%;
                height: 60%;
                display: flex;
                justify-content: center;
                align-items: center;

                & > p {
                    font-family: $roboto-font;
                    color: white;
                }
            }

            &__info {
                width: 100%;
                display: flex;
                flex-basis: 0 1 0px;
                flex-grow: 1;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;

                &__header {
                    width: 100%;
                    height: 20px;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    align-content: center;
                    align-items: center;
                    color: #caccd1;

                    & > p {
                        position: relative;
                        font-family: $roboto-font;
                        font-size: 0.7em;
                        padding-left: 12px;
                        letter-spacing: 0.25px;

                        &::after {
                            position: absolute;
                            font-family: "Font Awesome 5 Free";
                            content: "\f111";
                            font-weight: 900;
                            font-size: 3px;
                            top: 41%;
                            left: 106%;
                        }

                        &:nth-child(3) {
                            &::after {
                                content: "";
                            }
                        }
                    }
                }

                &__name {
                    width: 100%;
                    height: 20px;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    align-content: center;
                    align-items: center;

                    & > p {
                        font-family: $roboto-font;
                        font-size: 1em;
                        padding-left: 13px;
                        font-weight: 500;
                        color: white;
                        letter-spacing: 0.5px;
                    }
                }

                &__summary {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: flex-start;
                    align-content: center;
                    align-items: center;

                    & > p {
                        font-family: $roboto-font;
                        font-size: 0.8em;
                        line-height: 16px;
                        padding-left: 13px;
                        font-weight: 500;
                        letter-spacing: 0.5px;
                        color: rgba(255, 255, 255, 0.9);
                        max-width: 50ch;
                    }
                }

                &__button {
                    height: 60px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & > div {
                        position: relative;
                        background-color: #3a3b3c;
                        width: 93%;
                        height: 62%;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        font-family: $roboto-font;
                        font-weight: 500;
                        align-items: center;
                        border-radius: 6px;
                        font-size: 0.95em;
                        letter-spacing: 0.5px;
                        color: white;
                        cursor: pointer;

                        &::before {
                            position: relative;
                            font-family: "Font Awesome 5 Free";
                            content: "\f04b";
                            font-weight: 900;
                            font-size: 0.75em;
                            margin-right: 8px;
                        }

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                    }
                }
            }
        }
    }

    &__main-content {
        width: 77%;
        margin-left: 23%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        @media screen and (max-width: 900px) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
